---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes";

.page__subtitle {
  color: white;
  font-weight: bold;
  font-style: italic;
}

.notice--info {
    font-size: .9em !important; // Between type-size-5 and type-size-6
}

hr { 
  background-color: #3d4144;
  height: 1px;
  border: 0; 
}

$max-width:90%;

.hexbox {
    padding: 12px;
    margin-left: 10px;
    margin-bottom: 10px;
    float: right;    
}

.hexline {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    margin-bottom: 20px;
    background-color: black;
    border: 1px solid #51555d;
    border-radius: 10px;
}

.hexgrid23 {
    display: grid;
    grid-template-columns: repeat(5,58px);
    grid-template-rows: repeat(6,62px);
    grid-gap: 0px;
}


.hexgrid32 {
    display: grid;
    grid-template-columns: repeat(7,58px);
    grid-template-rows: repeat(4,62px);
    grid-gap: 0px;
}

.hexgrid33 {
    display: grid;
    grid-template-columns: repeat(7,58px);
    grid-template-rows: repeat(6,62px);
    grid-gap: 0px;
}

.hexgrid34 {
    display: grid;
    grid-template-columns: repeat(7,58px);
    grid-template-rows: repeat(8,62px);
    grid-gap: 0px;
}

.hexgrid71 {
    display: grid;
    grid-template-columns: repeat(15,58px);
    grid-template-rows: repeat(3,62px);
    grid-gap: 0px;
}

.hexgrid72 {
    display: grid;
    grid-template-columns: repeat(15,58px);
    grid-template-rows: repeat(4,62px);
    grid-gap: 0px;
}

.hexbox img, .hexline img {
    height: 120px;
    width: 150px;
}

.opaqued {
  opacity: 40%;
}

.hexcat {
  filter: drop-shadow(0 0 8px rgba(255, 255, 255, 0.5));
}

.hex11 {
  grid-column: 1 / span 3; 
  grid-row:  1 / span 2;
}
.hex12 {
  grid-column: 1 / span 3; 
  grid-row:  3 / span 2;
}
.hex13 {
  grid-column: 1 / span 3; 
  grid-row:  5 / span 2;
}
.hex14 {
  grid-column: 1 / span 3; 
  grid-row:  7 / span 2;
}
.hex21 {
  grid-column: 3 / span 3; 
  grid-row:  2 / span 2;
}
.hex22 {
  grid-column: 3 / span 3; 
  grid-row:  4 / span 2;
}
.hex24 {
  grid-column: 3 / span 3; 
  grid-row:  6 / span 2;
}
.hex31 {
  grid-column: 5 / span 3; 
  grid-row:  1 / span 2;
}
.hex32 {
  grid-column: 5 / span 3; 
  grid-row:  3 / span 2;
}
.hex33 {
  grid-column: 5 / span 3; 
  grid-row:  5 / span 2;
}
.hex34 {
  grid-column: 5 / span 3; 
  grid-row:  7 / span 2;
}
.hex41 {
  grid-column: 7 / span 3; 
  grid-row:  2 / span 2;
}
.hex51 {
  grid-column: 9 / span 3; 
  grid-row:  1 / span 2;
}
.hex52 {
  grid-column: 9 / span 3; 
  grid-row:  3 / span 2;
}
.hex61 {
  grid-column: 11 / span 3; 
  grid-row:  2 / span 2;
}
.hex71 {
  grid-column: 13 / span 3; 
  grid-row:  1 / span 2;
}
.hex72 {
  grid-column: 13 / span 3; 
  grid-row:  3 / span 2;
}

.offhex11 {
  grid-column: 1 / span 3; 
  grid-row:  2 / span 2;
}
  
.offhex12 {
  grid-column: 1 / span 3; 
  grid-row:  4 / span 2;
}

.offhex21 {
  grid-column: 3 / span 3; 
  grid-row:  1 / span 2;
}
.offhex22 {
  grid-column: 3 / span 3; 
  grid-row:  3 / span 2;
}
.offhex23 {
  grid-column: 3 / span 3; 
  grid-row:  5 / span 2;
}



