---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes";

.page__subtitle {
  color: white;
  font-weight: bold;
  font-style: italic;
}

.notice--info {
    font-size: .9em !important; // Between type-size-5 and type-size-6
}

hr { 
  background-color: #3d4144;
  height: 1px;
  border: 0; 
}

$max-width:90%;

/* Hexes in Headers */

h2 img {
  height: 35px;
  margin-right: 10px;
  position: relative;
  top: -2px;
}

/* Hex Grids */

.hexbox {
    padding: 12px;
    margin-left: 10px;
    margin-bottom: 10px;
    float: right;    
}

.hexline {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    margin-bottom: 20px;
}

@media (max-width:600px) {

  h1.page__title img {
    height: 30px;
    margin-left: 6px;
    top: -2px;
    filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.5));
  }

  .hexbox img, .hexline img {
      height: 60px;
      width: 75px;
  }

  .hex12top img, .hex32top img, .hex52top img {
      height: 30px !important;
  }

  .hexgrid71 {
      display: grid;
      grid-template-columns: repeat(15,29px);
      grid-template-rows: repeat(3,31px);
      grid-gap: 0px;
  }

  .hexgrid72 {
      display: grid;
      grid-template-columns: repeat(15,29px);
      grid-template-rows: repeat(4,31px);
      grid-gap: 0px;
  }

  .hexgrid75 {
      display: grid;
      grid-template-columns: repeat(15,29px);
      grid-template-rows: repeat(10,31px);
      grid-gap: 0px;
  }
  
}

@media (min-width:600px) {

  h1.page__title img {
    height: 70px;
    margin-left: 10px;
    top: -10px;
    filter: drop-shadow(0 0 8px rgba(255, 255, 255, 0.5));
  }


  .hexbox img, .hexline img {
      height: 120px;
      width: 150px;
  }

  .hex12top img, .hex32top img, .hex52top img {
      height: 60px !important;
  }
  
  .hexgrid71 {
      display: grid;
      grid-template-columns: repeat(15,58px);
      grid-template-rows: repeat(3,62px);
      grid-gap: 0px;
  }

  .hexgrid72 {
     display: grid;
      grid-template-columns: repeat(15,58px);
      grid-template-rows: repeat(4,62px);
      grid-gap: 0px;
  }

  .hexgrid75 {
     display: grid;
      grid-template-columns: repeat(15,58px);
      grid-template-rows: repeat(10,62px);
      grid-gap: 0px;
  }
  
}

.opaqued {
  opacity: 40%;
}

.highlighted {
  filter: drop-shadow(0 0 8px rgba(255, 255, 255, 0.5));
}

.hex11 {
  grid-column: 1 / span 3; 
  grid-row:  1 / span 2;
}

.hex12top {
  grid-column: 1 / span 3; 
  grid-row:  3;
}

.hex12 {
  grid-column: 1 / span 3; 
  grid-row:  3 / span 2;
}
.hex13 {
  grid-column: 1 / span 3; 
  grid-row:  5 / span 2;
}

.hex14 {
  grid-column: 1 / span 3; 
  grid-row:  7 / span 2;
}
.hex15 {
  grid-column: 1 / span 3; 
  grid-row:  9 / span 2;
}

.hex21 {
  grid-column: 3 / span 3; 
  grid-row:  2 / span 2;
}
.hex22 {
  grid-column: 3 / span 3; 
  grid-row:  4 / span 2;
}
.hex24 {
  grid-column: 3 / span 3; 
  grid-row:  6 / span 2;
}
.hex31 {
  grid-column: 5 / span 3; 
  grid-row:  1 / span 2;
}
.hex32 {
  grid-column: 5 / span 3; 
  grid-row:  3 / span 2;
}

.hex32top {
  grid-column: 5 / span 3; 
  grid-row:  3;
}

.hex33 {
  grid-column: 5 / span 3; 
  grid-row:  5 / span 2;
}
.hex34 {
  grid-column: 5 / span 3; 
  grid-row:  7 / span 2;
}
.hex35 {
  grid-column: 5 / span 3; 
  grid-row:  9 / span 2;
}
.hex41 {
  grid-column: 7 / span 3; 
  grid-row:  2 / span 2;
}
.hex42 {
  grid-column: 7 / span 3; 
  grid-row:  4 / span 2;
}
.hex43 {
  grid-column: 7 / span 3; 
  grid-row:  6 / span 2;
}
.hex44 {
  grid-column: 7 / span 3; 
  grid-row:  8 / span 2;
}
.hex51 {
  grid-column: 9 / span 3; 
  grid-row:  1 / span 2;
}
.hex52 {
  grid-column: 9 / span 3; 
  grid-row:  3 / span 2;
}

.hex52top {
  grid-column: 9 / span 3; 
  grid-row:  3;
}

.hex53 {
  grid-column: 9 / span 3; 
  grid-row:  5 / span 2;
}

.hex54 {
  grid-column: 9 / span 3; 
  grid-row:  7 / span 2;
}

.hex55 {
  grid-column: 9 / span 3; 
  grid-row:  9 / span 2;
}


.hex61 {
  grid-column: 11 / span 3; 
  grid-row:  2 / span 2;
}

.hex62 {
  grid-column: 11 / span 3; 
  grid-row:  4 / span 2;
}

.hex63 {
  grid-column: 11 / span 3; 
  grid-row:  6 / span 2;
}

.hex64 {
  grid-column: 11 / span 3; 
  grid-row:  8 / span 2;
}

.hex71 {
  grid-column: 13 / span 3; 
  grid-row:  1 / span 2;
}

.hex72 {
  grid-column: 13 / span 3; 
  grid-row:  3 / span 2;
}

.hex73 {
  grid-column: 13 / span 3; 
  grid-row:  5 / span 2;
}

.hex74 {
  grid-column: 13 / span 3; 
  grid-row:  7 / span 2;
}

.hex75 {
  grid-column: 13 / span 3; 
  grid-row:  9 / span 2;
}
